.btn {
  border-radius: 2rem;
  border: none;
  background-color: var(--white);
  @include rgba(2rem, 0.4);
  transition: all 0.2s;

  &:hover {
    transform: translateY(-3px);
    @include rgba(4, 0.6);
    cursor: pointer;
  }

  &:active {
    transform: translateY(3px);
    @include rgba(2, 0.4);
  }
}
