.go-back {
  height: 5rem;
  text-align: center;

  padding: 3rem 0 0;
  font-size: 1.5rem;
  background-color: var(--black);
  color: var(--white);

  &:hover &-link {
    transform: scale(1.5);
  }

  &-link {
    display: block;
  }
}

.header_champion {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background-size: cover;
  background-position: center top;

  &-div {
    padding: 2rem;
    background-color: var(--hidden-white);
    transition: all 0.2s;
    border-radius: 10px;

    &:hover .arrow {
      transform: scaleX(1.4);
    }

    &:hover {
      cursor: pointer;
      box-shadow: 1px 1px 8rem var(--hidden-black);
    }
    &--h1 {
      font-size: 4rem;
      text-align: center;
      text-transform: uppercase;
    }
    &--p {
      text-align: center;
      font-size: 2.2rem;
      text-transform: lowercase;

      &::before {
        content: "";
        display: block;
        border-bottom: 2px solid var(--hidden-white);
        margin-bottom: 10px;
      }
    }
  }
}

.main_champion {
  display: grid;
  grid-template-rows: 36rem 55rem 135rem 95rem 34rem;
  text-align: center;
  font-size: 1.2rem;

  background-image: url("https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltc28d43095579c8b5/5d87c24e8d8a3163705e3070/summonersrift.jpg");

  background-position: center;
  background-size: contain;

  transition: all 1.2s;

  @media only screen and (max-width: $large-size) {
    grid-template-rows: 38rem 55rem 132rem 85rem 40rem;
  }

  @media only screen and (max-width: $small-size) {
    grid-template-rows: 42rem 90rem 132rem 80rem 38rem;
  }

  @media only screen and (max-width: $smallest-size) {
    grid-template-rows: 46rem 80rem 140rem 75rem 40rem;
  }

  @media only screen and (max-width: $smallest-one-size) {
    grid-template-rows: 50rem 80rem 160rem 75rem 44rem;
  }

  & h2 {
    letter-spacing: 8px;
    text-shadow: 1px 1px 2rem var(--green);
    background-image: linear-gradient(120deg, var(--white), var(--black));
    background-clip: text;
    color: transparent;
    font-size: 2rem;
  }

  & p {
    text-shadow: 1px 1px 4rem var(--hidden-black);
    color: white;
  }

  &_lore_blurb {
    & h2 {
      margin-bottom: 2rem;
    }

    @include border();

    &-lore,
    &-blurb {
      padding: 4rem;
    }
  }

  &_infos {
    display: grid;
    grid-template-columns: repeat(3, minmax(30rem, 1fr));
    width: 100%;
    grid-gap: 2rem;
    width: 90%;
    margin: auto;

    align-content: center;
    margin-bottom: 2rem;
    position: relative;

    @include border();

    @media only screen and (max-width: $small-size) {
      grid-template-columns: repeat(1, 1fr);
    }

    & h2 {
      margin-bottom: 1rem;
    }

    &-info,
    &-stats,
    &-tags {
      margin-bottom: 4rem;
    }
  }

  .fa {
    position: absolute;
    top: 0;
    width: 2.5rem;
    height: 2.5rem;
    color: white;
  }

  .info {
    left: 30%;

    @media only screen and (max-width: $large-size) {
      left: 31%;
    }

    @media only screen and (max-width: $big-size) {
      left: 32%;
    }

    @media only screen and (max-width: $small-size) {
      left: 80%;
      top: 0;
    }
  }

  .list {
    left: 65%;

    @media only screen and (max-width: $large-size) {
      left: 67%;
    }

    @media only screen and (max-width: $big-size) {
      left: 68%;
    }

    @media only screen and (max-width: $small-size) {
      left: 80%;
      top: 22%;
    }
  }

  .tags {
    right: 8%;

    @media only screen and (max-width: $big-size) {
      right: 6%;
    }

    @media only screen and (max-width: $small-size) {
      top: 82%;
      right: 0;
      left: 80%;
    }
  }

  &_skills {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5rem;

    & h2 {
      margin-bottom: 1rem;
    }

    &-passive,
    &-skill {
      padding: 4rem;
    }

    @include border();
  }

  &_skins {
    display: grid;
    grid-template-rows: 75px 1fr;

    position: relative;

    @media only screen and (max-width: $large-size) {
      margin-top: 12rem;
    }

    @media only screen and (max-width: $smallest-size) {
      margin-top: 4rem;
    }
    @include border();

    &-render {
      overflow: hidden;
      display: flex;
      align-items: center;
      overflow: hidden;
      width: 52%;
      height: 91%;
      margin: auto;
      border-radius: 2rem;
      box-shadow: 1px 1px 8rem var(--white);
      transition: all 1s;

      &:hover {
        box-shadow: 1px 1px 12rem var(--white);
      }

      @media only screen and (max-width: $base-size) {
        height: 84.5%;
        width: 63%;
      }

      @media only screen and (max-width: $largest-one-size) {
        height: 80%;
        width: 72%;
      }

      @media only screen and (max-width: $largest-size) {
        height: 70%;
        width: 77%;
      }

      @media only screen and (max-width: $large-size) {
        height: 86%;
        width: 64.5%;
      }

      @media only screen and (max-width: $big-size) {
        height: 95%;
        width: 64%;
      }

      @media only screen and (max-width: $small-size) {
        height: 90%;
        width: 74%;
      }

      @media only screen and (max-width: $smallest-size) {
        height: 71%;
        width: 75%;
      }
      @media only screen and (max-width: $smallest-one-size) {
        height: 67%;
        width: 88%;
      }
    }

    &-name {
      /* These styles are from the carousel name 
      PS: You need to make the height from this div, 1rem above from the h2. If made in other way, the change 
      from the carousel will trigger a weird effect, making a conflict in the names*/
      display: grid;
      grid-gap: 5rem;
      overflow: hidden;
      position: absolute;
      top: 24%;
      right: 68%;
      transform: translate(30%);

      height: 15rem; // 15 - 1rem above the h2
      width: 22rem;
      font-size: 1.8rem;
      padding: 2rem;

      margin: auto;

      & h2 {
        color: var(--wheat);
      }

      @media only screen and (max-width: $largest-one-size) {
        top: 26%;
        right: 70%;
      }

      @media only screen and (max-width: $largest-size) {
        top: 27%;
        right: 74%;
      }

      @media only screen and (max-width: $large-size) {
        top: 25%;
        right: 66%;
      }

      @media only screen and (max-width: $small-size) {
        top: 28%;
        right: 65%;
      }

      @media only screen and (max-width: $smallest-size) {
        top: 35%;
        right: 62%;
      }

      @media only screen and (max-width: $smallest-one-size) {
        top: 14%;
        right: 45%;
      }

      & h2 {
        display: block;
        height: 14rem; // 14 - 1rem below the div
        width: 22rem;
      }
    }
  }

  .champion_skins {
    &-h2 {
      position: absolute;
    }

    &-img {
      width: 100%; // 645px 64.5rem
      height: 100%; // 380px 38rem
    }
  }

  .carousel-btn {
    position: absolute;
    color: var(--white);
    height: 10rem;
    width: 3rem;
    transition: all 0.8s;

    &:hover {
      transform: scaleX(1.4);
    }
  }

  .btn-right {
    right: 58rem;

    @media only screen and (max-width: $base-size) {
      right: 40rem;
    }

    @media only screen and (max-width: $largest-one-size) {
      right: 24rem;
    }

    @media only screen and (max-width: $largest-size) {
      right: 16rem;
    }

    @media only screen and (max-width: $large-size) {
      right: 25rem;
    }

    @media only screen and (max-width: $big-size) {
      right: 27rem;
    }

    @media only screen and (max-width: $small-size) {
      right: 19rem;
    }

    @media only screen and (max-width: $smallest-size) {
      right: 16rem;
    }

    @media only screen and (max-width: $smallest-one-size) {
      right: 6rem;
    }
  }

  .btn-left {
    left: 58rem;

    @media only screen and (max-width: $base-size) {
      left: 40rem;
    }

    @media only screen and (max-width: $largest-one-size) {
      left: 24rem;
    }

    @media only screen and (max-width: $largest-size) {
      left: 16rem;
    }

    @media only screen and (max-width: $large-size) {
      left: 25rem;
    }

    @media only screen and (max-width: $big-size) {
      left: 27rem;
    }

    @media only screen and (max-width: $small-size) {
      left: 19rem;
    }

    @media only screen and (max-width: $smallest-size) {
      left: 16rem;
    }

    @media only screen and (max-width: $smallest-one-size) {
      left: 6rem;
    }
  }

  &_tips {
    display: grid;
    grid-gap: var(--r-1);

    & h2 {
      margin-bottom: 2rem;
    }

    &-enemy,
    &-ally {
      padding: 4rem;
    }
  }
}
